<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
               
        <script src="js/build.js"></script>

        <link type="text/css" rel="stylesheet" href="css/build.css"/>
        
        <title>{{entry.title}}</title>
    
    </head>
        
    <body id="page">
        
    <div class="container">
        
        <img src="//cdn-prod-blue-www.apollomatkat.fi/v-eb2616cbc9895159b7ed1aaee3e5b822/content/themes/apollo/content/img/logo_without_slogan2.png" />     
    
    </div>    
        
    <div class="container" id="main">
       
     
        <div class="col-md-6">
            <span class="marked">{{entry.body}}</span>
        
        </div>
        <div class="col-md-6">
            
            <form name="contact" netlify-honeypot="bot-field" action="thank-you" id="my-form" netlify>
                <p class="hidden">
                    <label>Don’t fill this out: <input name="bot-field"></label>
                </p>
                <p>
                    <label>Email: <input type="email" name="email"></label>
                </p>
                <p>
                    <label>Message: <textarea name="message"></textarea></label>
                </p>
                <p>
                    <button type=”submit”>Send</button>
                </p>
            </form>
            
            <script>
            $(document).ready(function() {
                $("#my-form").submit(function(e) {
                  e.preventDefault();

                  var $form = $(this);
                  $.post($form.attr("action"), $form.serialize()).then(function() {
                    alert("Thank you!");
                  });
                });                
                
            });
            </script>
            
        </div>
        
    </div>

    <div class="container-fluid" id="footer">
    
    </div>

    </body>
</html>