
@font-face {
    font-family: "VistaSansAltBold";
    src: url(/fonts/vistasansaltbold.woff) format("woff");
}
@font-face {
    font-family: "DroidSans";
    src: url(/fonts/droidsans.woff2) format("woff");
}

.centered {
  text-align:center;
}
html {
  min-height: 100%;
}
body {
  background: linear-gradient(#2f889e 0%,#81c1d2 30%,#c7dcdb 100%);
  background-color: #49a5b4;
  font-family: "DroidSans",sans-serif;
}

h1, h2, h3, h4 {
  font-family: "VistaSansAltBold",sans-serif;
}
.content-block {
  background: #fff;
  padding: 20px 0px;
  margin-bottom: 20px;
}

.lead-img {
  margin-bottom:20px;
}

#footer {
  min-height: 150px;
  
}

form .error {
  color: red;
  font-weight: 100;
}

#item-grid img {
  max-width : 100%;
}

#subscribe-col {
  background:#f3f3f3;
  padding:20px;
  margin-bottom:-20px;
}
#item-grid .item {
  position:relative;
}

#item-grid .item {
  margin-bottom:15px;
}
#item-grid .item span.location {
  display:block;
  margin-top:-10px;
  color:#666;
}